{% extends 'FrontEndBundle::Layout.html.twig' %}
{% block body %}
    <section id="slider">
        <div class="static-banner relative">
            <div class="overlay blue-overlay-5"></div>
            <div class="page-head">
                <h2 class="page-title">Covoiturage</h2>
                <ul class="page-title-btn">
                    <li><a href="http://www.codepixar.com/educare/php/01-home-university.php" target="_blank">Home <i
                                    class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="active">Covoiturage</a></li>
                </ul>
            </div>
        </div>
    </section>
    <br><br>
    <div class="container">
        <h2>Chercher votre covoiturage</h2>
        <br>
        <table>
            <tr style="width: 640px;">
                <form method="post" action="{{ path('front_end_cherchercovoiturage') }}">
                <td>Départ: <input type="text" name="depart" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Départ'" id="dep"></td>
                <td>Arrivé: <input type="text" name="arrive" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Arrivé'"></td>
                <td><input type="submit" name="btnCherch" value="Chercher un trajet" class="btn"></td>
                </form>
            </tr>
        </table>
    </div>
    <br>
    <div style="background-color: lightgrey; padding: 0px 0px 0px 130px">
        <div class="media-left" style="width: auto;padding:50px 0px 50px 50px;">
            <img style="border:3px solid white" src="{{ asset('img/course/t1.jpg') }}">
        </div>
        <div class="media-right" style="padding: 50px;">
            <br>
            <h2>Vous prenez le volant bientôt?</h2>
            <p>Partager vos frais en prenant des passagers</p>
            <form action="{{ path('front_end_verscovoiturage') }}">
                <input type="submit" value="Proposer un trajet" class="btn">
            </form>
        </div>
    </div>
{% endblock body %}